.ag-settings {
  max-width: 1000px;
}
.ag-settings form {
  margin-top: 1rem;
}
.ag-settings form h1 {
  line-height: 3rem;
}
.ag-settings form h1 span {
  font-size: 3rem;
}
.ag-settings form h2 {
  background-color: #6495ed;
  color: #222;
  padding: 1em;
  margin: 0 -1rem 1rem -1rem;
}
.ag-settings form > div {
  margin-bottom: 1rem;
  background: #333;
  color: #ddd;
  padding: 0 1rem 1rem 1rem;
}
.ag-settings form input.disabled {
  pointer-events: none;
  color: #000;
}
.ag-settings form input.half {
  width: 50%;
}
.ag-settings form input.full {
  width: 100%;
}
.ag-form-table {
  width: 100%;
}
.ag-form-table th {
  text-align: left;
  width: 200px;
}
.ag-notification {
  display: none;
  padding: 0;
  margin: 0;
}
.ag-notification h3 {
  margin: 1rem 0 0 0;
  padding: 1rem;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}
.ag-notification p {
  padding: 1rem;
  margin: 0 0 1rem 0;
  color: #fff;
}
.ag-settings .switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  margin-right: 1rem;
  font-weight: bold;
}
.ag-settings .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.ag-settings .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a00;
  transition: .4s;
}
.ag-settings .slider:before {
  content: "\2715";
  text-align: center;
  position: absolute;
  width: 1.5rem;
  left: 0;
  bottom: 0;
  background-color: #fff;
  transition: .4s;
  color: #222;
}
.ag-settings input:checked + .slider {
  background-color: #0a0;
}
.ag-settings input:checked + .slider:before {
  content: "\2714";
  transform: translateX(1.5rem);
}
.wp-core-ui button.button-warning {
  color: #fff;
  background-color: #a00;
  border-color: #600;
}
.wp-core-ui button.button-warning:hover {
  color: #fff;
  background-color: #600;
  border-color: #600;
}
.notice {
  display: none;
}
